body {
    font-size: 14px;
    padding-top: 5px;
}

#content {
    width: 100%;
    line-height: 18px!important;
}

/* Link */

a, a:visited {
	color: rgb(42,71,115);
	text-decoration: none;
}

a:hover, a:focus {
	color: #f00;
	text-decoration: none;
}

img {
	border: 0px;
}

object, embed {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

param {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* Link end */

/* Tables */

td.left-aligned {
    text-align: left;
}

/* Tables end */

#languages {
    float: right;
    text-align: right;
    padding-right: 25px;
    font-size: 85%;
}

#languages span.selected {
    font-weight: bold;
}

#languages a {
    color:#222;
    text-decoration:none;
    border-bottom:1px solid #ccc;
}

#languages a:hover {
    border-bottom:1px solid #aaa;
}

#loginTitle {
    font: 30px "Georgia", "Times New Roman", serif;
    text-align: center;
    color: silver;
    margin: 1em;
}

#loginMessageBox {
    margin: 1em;
}

#loginBox {
    width: 450px;
    margin: 0 auto;
}

#header {
    padding-top: 0px;
}

h1#logo {
    margin-bottom: 0;
    height: 85px;
}

ul#nav {
    margin-top: 5px;
    padding: 5px;
}

#content div.summary {
    background-color: #eeeeee;
    border: solid #cccccc 3px;
    padding: 4px;
    margin: 10px;
}

#content div.summary p {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

/* Actions */
.action-add, .action-add:hover {
    background: url(../images/silk/icons/add.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-edit, .action-edit:hover {
    background: url(../images/silk/icons/pencil.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-delete, .action-delete:hover {
    background: url(../images/silk/icons/delete.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-detail-go, .action-detail-go:hover {
    background: url(../images/silk/icons/table_go.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-back, .action-back:hover {
    background: url(../images/silk/icons/arrow_left.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-cancel, .action-cancel:hover {
    background: url(../images/silk/icons/cancel.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-confirm, .action-confirm:hover {
    background: url(../images/silk/icons/accept.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-start, .action-start:hover {
    background: url(../images/silk/icons/cog_go.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-right, .action-right:hover {
    background: url(../images/silk/icons/arrow_right.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-up, .action-up:hover {
    background: url(../images/silk/icons/arrow_up.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-down, .action-down:hover {
    background: url(../images/silk/icons/arrow_down.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-pdf-document, .action-pdf-document:hover {
    background: url(../images/silk/icons/page_white_acrobat.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-xls-document, .action-xls-document:hover {
    background: url(../images/silk/icons/page_white_excel.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

.action-run, .action-run:hover {
    background: url(../images/silk/icons/cog.png) no-repeat center left;
    padding: 5px 5px 5px 18px;
    text-decoration: none;
    border: 0px solid!important;
}

/* Actions end */

/* Forms */

input, textarea, select {
/*    background:#F9F9F9 none repeat scroll 0 0; */
    border:1px solid #8AB3D1;
    padding: 3px 0;
}

input[type=hidden] {
    display: none;
}

input.full-size {
    width:341px;
}

form label, form input, form select, form textarea {
    display:block;
    float:left;
    margin-bottom:10px;
}

form label {
    height: 20px;
    line-height: 20px;
}

form input {
    height: 16px;
    line-height: 16px;
    padding: 3px 3px;
}

form input[type=file] {
    height: 24px;
    width: inherit;
}

form select {
    height: 24px;
    line-height: 24px;
}

form br {
    clear:left;
}
form p {
    padding:1em 0 2em;
}
form label {
    padding-right:5px;
    text-align:right;
    width:10em;
}

form optgroup option {
    font-weight:600;
    text-indent:1.5em;
}

form textarea {
    height:15em;
    overflow:auto;
    width:341px;
    padding: 3px 3px;
}

form .checkbox-label {
    text-align: left;
}

form .submit-button {
    background:#D3E0EA none repeat scroll 0 0;
    height: auto;
    cursor: pointer;
    float: none;
    display: inline;
}

div .form-aligned {
    margin-left: 10.5em;
}

div.form-help-text span {
    font-size: 0.9em;
    color: silver;
}

div.form-help-text {
    line-height: 0.8em;
    margin-bottom: 10px;
}

span.form-help-text {
    font-size: 0.8em;
    color: silver;
}

#errors {
    color:red;
}

.errorBox {
    display: block;
    color: red;
    margin-left: 10.5em;
}

.fieldInError {
    background-color: #ffebeb;
}

textarea.rowEditing {
    height:3em;
    width: 25em;
}

div.formButtons {
    margin: 1em 1em 1em 10.5em;
}

#content .calendar-icon {
    margin: 0px;
    border: none;
}

/* Forms end */

/* Error/notice start */

div.notice_flash {
    background-color: #dffadd;
    padding: 5px;
    margin: 5px;
    border: dotted gray thin;
}

div.notice_flash p {
    margin: 0!important;
}

div.error_flash {
    background-color: #faddde;
    padding: 5px;
    margin: 5px;
    border: dotted gray thin;
}

div.error_flash p {
    margin: 0!important;
}

/* Error/notice end */

/* Assessment start */

.assessment {
    width: 270px;
    border: solid #eeeeee 3px;
    margin: 10px;
    padding: 4px;
    float: left;
}

.assessment .course {
    font-weight: bold;
}

.assessment .incumbent {
    font-style: italic;
}

.assessment .actions {
    text-align: right;
    border-top: solid #eeeeee 1px;
}

/* Assessment end */

.midWidth {
    width: 48%;
    float: left;
    padding: 5px;
}

.smallText {
    font-size: 10px;
}

/* assessment filling start */

.fillingQuestion {
    border: dotted 1px silver;
    margin-bottom: 5px;
    clear: both;
}

.questionTitle {
}

.questionTitle img {
    float: left;
}

.questionTitle .questionTitleText {
    padding: 8px;
    font-weight: bold;
}

.questionText {
    clear: both;
    margin: 5px 0 20px 40px;
}

.fixedAnser {
    clear: both;
}

.fixedAnswer input {
    margin: 10px 0 5px 40px;
}

.fixedAnswerText {
    line-height: 16px!important;
    padding: 8px;
    float: left;
}

.filteredContent p {
    line-height: 14px!important;
    margin: 0!important;
    padding: 0!important;
}

.openAnswer {
    margin: 10px 0 5px 40px;
}

/* assessment filling end */